<div class="cabinet_menu" >

  <div class="cab_title"> личный кабинет</div>

  <% if @user.role != 'poduser' %>
  <div class="cab_link">
<%if @menu==1 %> <span class="str">«</span> <%= link_to 'регистрационные данные',{:controller=>'cabinet' , :action=>'reg_data'}, :class=>'cab_act' %> <% else %> <%= link_to 'регистрационные данные' ,{:controller=>'cabinet' , :action=>'reg_data'} %>    <% end %>
  </div>
  <div class="cab_link">
<%if @menu==2 %> <span class="str">«</span> <%= link_to 'избранные товары' ,{:controller=>'cabinet' , :action=>'favorits'} , :class=>'cab_act' %> <% else %>  <%= link_to 'избранные товары' ,{:controller=>'cabinet' , :action=>'favorits'} %>    <% end %>
  </div>
  <div class="cab_link">
<%if @menu==3 %> <span class="str">«</span> <%= link_to 'договоры и спецификации' ,{:controller=>'cabinet' , :action=>'tov_spec'}, :class=>'cab_act' %> <% else %> <%= link_to 'договоры и спецификации',{:controller=>'cabinet' , :action=>'tov_spec'} %>    <% end %>
  </div>
  <div class="cab_link">
<%if @menu==4 %> <span class="str">«</span> <%= link_to 'заказы',{:controller=>'cabinet' , :action=>'order'}, :class=>'cab_act' %>  <% else %> <%= link_to 'заказы',{:controller=>'cabinet' , :action=>'order'} %>    <% end %>
  </div>
  <div class="cab_link">
<%if @menu==5 %> <span class="str">«</span> <%= link_to 'бонусная программа' ,{:controller=>'bonus2' }  %>  <% else %>  <%= link_to 'бонусная программа' ,{:controller=>'bonus2'}  %>    <% end %>
  </div>
  <div class="cab_link">
<%if @menu==6 %> <span class="str">«</span> <%= link_to 'сотрудники (отделы)' ,{:controller=>'cabinet' , :action=>'sotr'}, :class=>'cab_act' %> <% else %> <%= link_to 'сотрудники (отделы)',{:controller=>'cabinet' ,:action=>'sotr'} %>    <% end %>
  </div>
    <div class="cab_link">
<%if @menu==8 %> <span class="str">«</span> <%= link_to 'обратная связь',{:controller=>'cabinet' , :action=>'feedback'}, :class=>'cab_act' %> <% else %> <%= link_to 'обратная связь' ,{:controller=>'cabinet' , :action=>'feedback'} %>    <% end %>
  </div>
  <% if @user.client1_id != 0 %>
  <div class="cab_link">
<%if @menu==7 %> <span class="str">«</span> <%= link_to 'задания на конкурс',{:controller=>'cabinet' , :action=>'konkurs'}, :class=>'cab_act' %> <% else %> <%= link_to 'задания на конкурс' ,{:controller=>'cabinet' , :action=>'konkurs'} %>    <% end %>
  </div>
 <% end %>
          <div class="cab_link">
 <%= link_to 'Выход',{:controller=>'login' , :action=>'logout'}, :style => 'color: red' %>
  </div>


  <% else %>
   <div class="cab_link">
<%if @menu==2 %> <span class="str">«</span> <%= link_to 'избранные товары' ,{:controller=>'cabinet' , :action=>'favorits'} , :class=>'cab_act' %> <% else %>  <%= link_to 'избранные товары' ,{:controller=>'cabinet' , :action=>'favorits'} %>    <% end %>
  </div>
  <div class="cab_link">
<%if @menu==3 %> <span class="str">«</span> <%= link_to 'договоры и спецификации' ,{:controller=>'cabinet' , :action=>'tov_spec'}, :class=>'cab_act' %> <% else %> <%= link_to 'договоры и спецификации',{:controller=>'cabinet' , :action=>'tov_spec'} %>    <% end %>
  </div>
    <div class="cab_link">
<%if @menu==4 %> <span class="str">«</span> <%= link_to 'заказы',{:controller=>'cabinet' , :action=>'order'}, :class=>'cab_act' %>  <% else %> <%= link_to 'заказы',{:controller=>'cabinet' , :action=>'order'} %>    <% end %>
  </div>
     <div class="cab_link">
<%if @menu==8 %> <span class="str">«</span> <%= link_to 'обратная связь',{:controller=>'cabinet' , :action=>'feedback'}, :class=>'cab_act' %> <% else %> <%= link_to 'обратная связь' ,{:controller=>'cabinet' , :action=>'feedback'} %>    <% end %>
  </div>

       <div class="cab_link">
 <%= link_to 'Выход',{:controller=>'login' , :action=>'logout'}, :style => 'color: red' %>
  </div>


  <% end %>


</div>