<%= link_to image_tag('/images2/alltov_a.jpg' , :alt=> "Все товары" , :style=>"border-bottom: 3px solid white; ") , {:controller=>'kt3' , :action=>'sitemap'} %>


<% Razdel1.all.each do |r1| %>

 <% if @id==r1.id %>
        <div class="menu11" id="lm<%=r1.id.to_s%>"  >
        
           <%= r1.name %>
        
      </div>
<%  else %>
        <div class="menu1" id="lm1<%=r1.id.to_s%>"  >

      <%= link_to r1.name , "/#{r1.link}" %>
      
        <% @r = r1.id %>
          <div class="subin" style="top: <%=r1.top %>px;">
       <%= render :partial => '/part2/left_submenu2' , :object => @r %>
          </div>
      </div>
 <% end %>

<%  end %>


        <div class="menu1" id="lm17"  >

      <%= link_to 'Подарки' , {:controller=>'kt3' , :action=>'gifts'}, :style=>'color: red;' %>
         </div>

   <div class="menu1" id="lm16" style="background-color: #fdd4b6;" >

      <%= link_to 'Убей рутину' , {:controller=>'routine' , :action=>'index'}, :style=>'color: red;' %>
         </div>


  

