<% content_for(:cont) do %>
Живой офис. Пресса
<% end %>

<% content_for(:cont) do %>
<style type="text/css">
.press{  border-bottom: 1px dashed #b1b3b6; padding-bottom: 10px; margin-top: 10px; }
.press a {color: #666666; text-decoration: none;}
.press .img { float: left; display: inline; margin-right: 10px; }
.press h3  {width: 500px; display: inline;}
.press span {float:right; color: #666666;}
</style>
<div style="float:left; width: 608px">

<div class="green_title">Статьи о «Живом офисе»</div>
<br/>



<div class="press" style="height: 120px;"  >
   <div class="img">
     <img src="/images2/lada.jpg" width="160px" /> </div>
<div>
<h3>Журнал BTL magazine, сентябрь 2012</h3>
<p>
«BTL – инструмент с
самыми большими «помехами»
Лада Бутенко,
директор по маркетингу «Живой офис»
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'btl' %>

</p>
</div>

</div>
<div class="clear"> </div>

 <div class="press" style="height: 196px;" >
   <div class="img">
     <img src="/images/etcetera.jpg" /> </div>
<div>
<h3>Журнал OFFICE FILE, июнь 2012</h3>
<p>
Эльвира Пикалёва, управляющий группы компаний «Живой офис»:
«Будущее уже есть, просто мы про него пока не знаем».
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'officefile' %>

</p>
</div>

</div>

 <div class="press" style="height: 120px;" >
   <div class="img">
     <img src="/images/pr_forbes.jpg" /> </div>
<div>
<h3>Журнал FORBES, июль 2012</h3>
<p>
Скрепка лояльности: как компания "Живой офис" превратила закупку канцелярских товаров в развлечение для клиентов. И заработала на этом.
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'forbes' %>

</p>
</div>

</div>

 <div class="press" style="height: 240px;" >
   <div class="img">
     <img src="/images/7d.jpg" /> </div>
<div>
<h3>Компания "Живой офис" планирует провести осенью IPO на ММВБ-РТС </h3>
<p>
Компания "Живой офис", продающая товары для офиса, планирует в ноябре 2012 года провести IPO на ММВБ-РТС, сообщила в четверг, выступая на "Российском IPO форуме", управляющая группой компаний "Живой офис" Эльвира Пикалева.
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'redir8' %>

</p>
</div>

</div>


 <div class="press" style="height: 120px;" >
   <div class="img">
     <img src="/images/vvp.jpg" /> </div>
<div>
<h3>«Валерий Парфенов о товарах серии ЭКО» </h3>
<p>
Журнал «Office File», апрель 2012
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'show0412' %>

</p>
</div>

</div>

 <div class="press" style="height: 120px;" >
   <div class="img">
     <img src="/images/press06.jpg" /> </div> 
<div>
<h3>«Валерий Парфенов: Захотелось совершить прорыв» </h3>
<p>
Журнал «Office File» , стр. 20
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'redir6' %>

</p>
</div>

</div>

 <div class="press" style="height: 123px;" >
   <div class="img">
     <img src="/images/press01.jpg" /> </div> 
<div>
<h3>«Живой офис» опубликовал предложение по франчайзингу</h3>
<p>
Сразу на нескольких профессиональных сайтах появилась информация о предложении «Живого офиса» о партнерских отношениях по строительству региональной сети на основе франчайзинговой модели.
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'redir3' %>

</p>
</div>

</div>

 <div class="press" style="height: 195px;" >
   <div class="img"><img src="/images/press02.jpg" /> </div>
   <div>

<h3>Валерий Парфенов, &quot;Живой офис&quot;: &quot;Быстрый рост — это наше осознанное решение&quot;</h3>
<p>
Разговор с нашим гостем  получился интересным. Зачем нужен ребрендинг стабильной торговой компании? Как работает в канцелярской  отрасли гендерный маркетинг и почему так важно нравиться женщинам?
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'redir2' %>

</p>
   </div>
</div>

 <div class="press" style="height: 212px;" >
   <div class="img"><img src="/images/press03.jpg" /></div>

<div>
<h3>Вышел новый каталог товаров «Живой офис 2011»</h3>
<p>
Под яркой оранжевой обложкой собрано 6000 лучших товаров, предназначенных сделать жизнь офисных сотрудников удобной, здоровой и наполненной позитивными эмоциями.
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'redir4' %>

</p>
</div>
</div>
<div class="press" style="height: 136px;" >

  <div class="img"><img src="/images/press04.jpg" /> </div>

<div>
<h3>«Спенс» стал «Живым офисом»</h3>
<p>
Завершен масштабный двухлетний проект по ребрендингу компании "Спенс". Новая концепция позиционирования - «Живой офис» - базируется на «трех китах»: Экология, Дизайн, Комфорт.
</p>
<p>
     <%= link_to 'читать дальше..' , :action=>'redir5' %>
  </p>
</div>
</div>
 

 <div class="press" style="height: 215px;" >
   <div class="img"><img src="/images/press05.jpg" /></div>

<div>
<h3>Сегодня говорят: &quot;О продажах&quot;</h3>
<p>
Своим мнением о продажах с Сегмент.Ру поделилась Оксана Владимировна Охочинская, директор по продажам компании  &quot;Живой офис &quot;

</p>
<p>

   <%= link_to 'читать дальше..' , :action=>'redir1' %>
 
</p>
</div>
</div>
<br/>
<br/>
  </div>
<% end %>