
  <table style="width: 300px; float: right; margin-top: 61px; border: 1px solid yellowgreen;" cellpadding="0" cellspacing="0">
    <tr style="padding-left: 5px; background-color:  yellowgreen; height: 20px;">
      <th style="padding-left: 5px;">Код 1с </th>
      <th style="padding-left: 5px;">Харакеристики </th>
    </tr>
    <tr><td> '<%=@bcat1.s1 %> </td>
      <td>
<% if @btg.s3 !='no' and @bcat1.s3!='no' and @bcat1.s3 !='' %>
       <%= @btg.s3 %>:  <%=@bcat1.s3%>
<br /> <% end %>
<% if @btg.s4 !='no' and @bcat1.s4!='no' and @bcat1.s4 !='' %>
    <%= @btg.s4 %>: <%=@bcat1.s4%>
<br /> <% end %>
<% if @btg.s5 !='no' and @bcat1.s5!='no' and @bcat1.s5 !='' %>
   <%= @btg.s5 %>:  <%=@bcat1.s5%>
<br /> <% end %>
<% if @btg.s6 !='no' and @bcat1.s6!='no' and @bcat1.s6 !='' %>
   <%= @btg.s6 %>:  <%=@bcat1.s6%>
<br /> <% end %>
<% if @btg.s7 !='no' and @bcat1.s7!='no' and @bcat1.s7 !='' %>
   <%= @btg.s7 %>:  <%=@bcat1.s7%>
<br /> <% end %>
<% if @btg.s8 !='no' and @bcat1.s8!='no' and @bcat1.s8 !=''%>
   <%= @btg.s8 %>:  <%=@bcat1.s8%>
<br /> <% end %>
<% if @btg.s9 !='no' and @bcat1.s9!='no' and @bcat1.s9 !='' %>
   <%= @btg.s9 %>:  <%=@bcat1.s9%>
<br /> <% end %>
<% if @btg.s10 !='no' and @bcat1.s10!='no' and @bcat1.s10 !='' %>
   <%= @btg.s10 %>:  <%=@bcat1.s10%>
<br /> <% end %>
<% if @btg.s11 !='no' and @bcat1.s11!='no' and @bcat1.s11 !='' %>
   <%= @btg.s11 %>:  <%=@bcat1.s11%>
<br /> <% end %>
<% if @btg.s12 !='no' and @bcat1.s12!='no' and @bcat1.s12 !='' %>
   <%= @btg.s12 %>:  <%=@bcat1.s12%>
<br /> <% end %>
<% if @btg.s13 !='no' and @bcat1.s13!='no' and @bcat1.s13 !=''%>
   <%= @btg.s13 %>:  <%=@bcat1.s13%>
<br /> <% end %>
<% if @btg.s14 !='no' and @bcat1.s14!='no' and @bcat1.s14 !='' %>
   <%= @btg.s14 %>:  <%=@bcat1.s14%>
<br /> <% end %>
<% if @btg.s15 !='no' and @bcat1.s15!='no' and @bcat1.s15 !=''%>
   <%= @btg.s15 %>:  <%=@bcat1.s15%>
<br /> <% end %>
<% if @btg.s16 !='no' and @bcat1.s16!='no' and @bcat1.s16 !=''%>
   <%= @btg.s16 %>:  <%=@bcat1.s16%>
<br /> <% end %>
<% if @btg.s17 !='no' and @bcat1.s17!='no' and @bcat1.s17 !=''%>
   <%= @btg.s17 %>:  <%=@bcat1.s17%>
<br /> <% end %>
<% if @btg.s18 !='no' and @bcat1.s18!='no' and @bcat1.s18 !=''%>
   <%= @btg.s18 %>:  <%=@bcat1.s18%>
<br /> <% end %>
<% if @btg.s19 !='no' and @bcat1.s19!='no' and @bcat1.s19 !=''%>
   <%= @btg.s19 %>:  <%=@bcat1.s19%>
<br /> <% end %>
<% if @btg.s20 !='no' and @bcat1.s20!='no' and @bcat1.s20 !=''%>
   <%= @btg.s20 %>:  <%=@bcat1.s20%>
<br /> <% end %>
<% if @btg.s21 !='no' and @bcat1.s21!='no' and @bcat1.s21 !=''%>
   <%= @btg.s21 %>:  <%=@bcat1.s21%>
<br /> <% end %>
<% if @btg.s22 !='no' and @bcat1.s22!='no' and @bcat1.s22 !=''%>
   <%= @btg.s22 %>:  <%=@bcat1.s22%>
<br /> <% end %>
<% if @btg.s23 !='no' and @bcat1.s23!='no' and @bcat1.s23 !=''%>
   <%= @btg.s23 %>:  <%=@bcat1.s23%>
<br /> <% end %>
<% if @btg.s24 !='no' and @bcat1.s24!='no' and @bcat1.s24 !=''%>
   <%= @btg.s24 %>:  <%=@bcat1.s24%>
<br /> <% end %>
<% if @btg.s25 !='no' and @bcat1.s25!='no' and @bcat1.s25 !=''%>
   <%= @btg.s25 %>:  <%=@bcat1.s25%>
<br /> <% end %>
<% if @btg.s26 !='no' and @bcat1.s26!='no' and @bcat1.s26 !='' %>
   <%= @btg.s26 %>:  <%=@bcat1.s26%>
<br /> <% end %>
<% if @btg.s27 !='no' and @bcat1.s27!='no' and @bcat1.s27 !=''%>
   <%= @btg.s27 %>:  <%=@bcat1.s27%>
<br /> <% end %>
<% if @btg.s28 !='no' and @bcat1.s28!='no' and @bcat1.s28 !='' %>
   <%= @btg.s28 %>:  <%=@bcat1.s28%>
<br /> <% end %>
<% if @btg.s29 !='no' and @bcat1.s29!='no' and @bcat1.s29 !=''%>
   <%= @btg.s29 %>:  <%=@bcat1.s29%>
<br /> <% end %>
<% if @btg.s30 !='no' and @bcat1.s30!='no' and @bcat1.s30 !='' and @bcat1.s30 !=nil%>
   <%= @btg.s30 %>:  <%=@bcat1.s30%>
<br /> <% end %>
</td>  </tr>

  </table>