<p>
  <b>Tg:</b>
  <%=h @bcat1.btg1_id %>
</p>

<p>
  <b>K1c:</b>
  <%=h @bcat1.k1c %>
</p>

<p>
  <b>Name:</b>
  <%=h @bcat1.name %>
</p>

<p>
  <b>S1:</b>
  <%=h @bcat1.s1 %>
</p>

<p>
  <b>S2:</b>
  <%=h @bcat1.s2 %>
</p>

<p>
  <b>S3:</b>
  <%=h @bcat1.s3 %>
</p>

<p>
  <b>S4:</b>
  <%=h @bcat1.s4 %>
</p>

<p>
  <b>S5:</b>
  <%=h @bcat1.s5 %>
</p>

<p>
  <b>S6:</b>
  <%=h @bcat1.s6 %>
</p>

<p>
  <b>S7:</b>
  <%=h @bcat1.s7 %>
</p>

<p>
  <b>S8:</b>
  <%=h @bcat1.s8 %>
</p>

<p>
  <b>S9:</b>
  <%=h @bcat1.s9 %>
</p>

<p>
  <b>S10:</b>
  <%=h @bcat1.s10 %>
</p>

<p>
  <b>S11:</b>
  <%=h @bcat1.s11 %>
</p>

<p>
  <b>S12:</b>
  <%=h @bcat1.s12 %>
</p>

<p>
  <b>S13:</b>
  <%=h @bcat1.s13 %>
</p>

<p>
  <b>S14:</b>
  <%=h @bcat1.s14 %>
</p>

<p>
  <b>S15:</b>
  <%=h @bcat1.s15 %>
</p>

<p>
  <b>S16:</b>
  <%=h @bcat1.s16 %>
</p>

<p>
  <b>S17:</b>
  <%=h @bcat1.s17 %>
</p>

<p>
  <b>S18:</b>
  <%=h @bcat1.s18 %>
</p>

<p>
  <b>S19:</b>
  <%=h @bcat1.s19 %>
</p>

<p>
  <b>S20:</b>
  <%=h @bcat1.s20 %>
</p>

<p>
  <b>S21:</b>
  <%=h @bcat1.s21 %>
</p>

<p>
  <b>S22:</b>
  <%=h @bcat1.s22 %>
</p>

<p>
  <b>S23:</b>
  <%=h @bcat1.s23 %>
</p>

<p>
  <b>S24:</b>
  <%=h @bcat1.s24 %>
</p>

<p>
  <b>S25:</b>
  <%=h @bcat1.s25 %>
</p>

<p>
  <b>S26:</b>
  <%=h @bcat1.s26 %>
</p>

<p>
  <b>S27:</b>
  <%=h @bcat1.s27 %>
</p>

<p>
  <b>S28:</b>
  <%=h @bcat1.s28 %>
</p>

<p>
  <b>S29:</b>
  <%=h @bcat1.s29 %>
</p>

<p>
  <b>S30:</b>
  <%=h @bcat1.s30 %>
</p>


<%= link_to 'Edit', edit_bcat1_path(@bcat1) %> |
<%= link_to 'Back', bcat1s_path %>