<p>
  <b>Tov2:</b>
  <%=h @tov3.tov2_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @tov3.name %>
</p>

<p>
  <b>Hk:</b>
  <%=h @tov3.hk %>
</p>

<p>
  <b>Reserv:</b>
  <%=h @tov3.reserv %>
</p>


<%= link_to 'Edit', edit_tov3_path(@tov3) %> |
<%= link_to 'Back', tov3s_path %>
