
<%# @bcat1=Bcat1.find_by_s1(@cat.k1c) %>
<%# @btg1=Btg1.find_by_id(@bcat1.btg1_id) if @bcat1%>
 


 <table  class="podrobn" cellpadding="0" cellspacing="0">
<% if @btg1.s3 !='no' and @bcat1.s3!='no' and @bcat1.s3 !='' %>
    <tr><td> <%= @btg1.s3 %> </td> <td><%=@bcat1.s3%></td> </tr>
<% end %>
<% if @btg1.s4 !='no' and @bcat1.s4!='no' and @bcat1.s4 !='' %>
<tr><td> <%= @btg1.s4 %></td> <td><%=@bcat1.s4%></td> </tr>
<% end %>
<% if @btg1.s5 !='no' and @bcat1.s5!='no' and @bcat1.s5 !='' %>
<tr><td><%= @btg1.s5 %> </td> <td><%=@bcat1.s5%></td> </tr>
<% end %>
<% if @btg1.s6 !='no' and @bcat1.s6!='no' and @bcat1.s6 !='' %>
<tr><td><%= @btg1.s6 %> </td> <td><%=@bcat1.s6%></td> </tr>
<% end %>
<% if @btg1.s7 !='no' and @bcat1.s7!='no' and @bcat1.s7 !='' %>
<tr><td><%= @btg1.s7 %> </td> <td><%=@bcat1.s7%></td> </tr>
<% end %>
<% if @btg1.s8 !='no' and @bcat1.s8!='no' and @bcat1.s8 !=''%>
<tr><td><%= @btg1.s8 %> </td> <td><%=@bcat1.s8%></td> </tr>
<% end %>
<% if @btg1.s9 !='no' and @bcat1.s9!='no' and @bcat1.s9 !='' %>
<tr><td><%= @btg1.s9 %> </td> <td><%=@bcat1.s9%></td> </tr>
<% end %>
<% if @btg1.s10 !='no' and @bcat1.s10!='no' and @bcat1.s10 !='' %>
<tr><td><%= @btg1.s10 %> </td> <td><%=@bcat1.s10%></td> </tr>
<% end %>
<% if @btg1.s11 !='no' and @bcat1.s11!='no' and @bcat1.s11 !='' %>
<tr><td><%= @btg1.s11 %> </td> <td><%=@bcat1.s11%></td> </tr>
<% end %>
<% if @btg1.s12 !='no' and @bcat1.s12!='no' and @bcat1.s12 !='' %>
<tr><td><%= @btg1.s12 %> </td> <td><%=@bcat1.s12%></td> </tr>
<% end %>
<% if @btg1.s13 !='no' and @bcat1.s13!='no' and @bcat1.s13 !=''%>
<tr><td><%= @btg1.s13 %> </td> <td><%=@bcat1.s13%></td> </tr>
<% end %>
<% if @btg1.s14 !='no' and @bcat1.s14!='no' and @bcat1.s14 !='' %>
<tr><td><%= @btg1.s14 %> </td> <td><%=@bcat1.s14%></td> </tr>
<% end %>
<% if @btg1.s15 !='no' and @bcat1.s15!='no' and @bcat1.s15 !=''%>
<tr><td><%= @btg1.s15 %> </td> <td><%=@bcat1.s15%></td> </tr>
<% end %>
<% if @btg1.s16 !='no' and @bcat1.s16!='no' and @bcat1.s16 !=''%>
<tr><td><%= @btg1.s16 %> </td> <td><%=@bcat1.s16%></td> </tr>
<% end %>
<% if @btg1.s17 !='no' and @bcat1.s17!='no' and @bcat1.s17 !=''%>
<tr><td><%= @btg1.s17 %> </td> <td><%=@bcat1.s17%></td> </tr>
<% end %>
<% if @btg1.s18 !='no' and @bcat1.s18!='no' and @bcat1.s18 !=''%>
<tr><td><%= @btg1.s18 %> </td> <td><%=@bcat1.s18%></td> </tr>
<% end %>
<% if @btg1.s19 !='no' and @bcat1.s19!='no' and @bcat1.s19 !=''%>
<tr><td><%= @btg1.s19 %> </td> <td><%=@bcat1.s19%></td> </tr>
<% end %>
<% if @btg1.s20 !='no' and @bcat1.s20!='no' and @bcat1.s20 !=''%>
<tr><td><%= @btg1.s20 %> </td> <td><%=@bcat1.s20%></td> </tr>
<% end %>
<% if @btg1.s21 !='no' and @bcat1.s21!='no' and @bcat1.s21 !=''%>
<tr><td><%= @btg1.s21 %> </td> <td><%=@bcat1.s21%></td> </tr>
<% end %>
<% if @btg1.s22 !='no' and @bcat1.s22!='no' and @bcat1.s22 !=''%>
<tr><td><%= @btg1.s22 %> </td> <td><%=@bcat1.s22%></td> </tr>
<% end %>
<% if @btg1.s23 !='no' and @bcat1.s23!='no' and @bcat1.s23 !=''%>
<tr><td><%= @btg1.s23 %> </td> <td><%=@bcat1.s23%></td> </tr>
<% end %>
<% if @btg1.s24 !='no' and @bcat1.s24!='no' and @bcat1.s24 !=''%>
<tr><td><%= @btg1.s24 %> </td> <td><%=@bcat1.s24%></td> </tr>
<% end %>
<% if @btg1.s25 !='no' and @bcat1.s25!='no' and @bcat1.s25 !=''%>
<tr><td><%= @btg1.s25 %> </td> <td><%=@bcat1.s25%></td> </tr>
<% end %>
<% if @btg1.s26 !='no' and @bcat1.s26!='no' and @bcat1.s26 !='' %>
<tr><td><%= @btg1.s26 %> </td> <td><%=@bcat1.s26%></td> </tr>
<% end %>
<% if @btg1.s27 !='no' and @bcat1.s27!='no' and @bcat1.s27 !=''%>
<tr><td><%= @btg1.s27 %> </td> <td><%=@bcat1.s27%></td> </tr>
<% end %>
<% if @btg1.s28 !='no' and @bcat1.s28!='no' and @bcat1.s28 !='' %>
<tr><td><%= @btg1.s28 %> </td> <td><%=@bcat1.s28%></td> </tr>
<% end %>
<% if @btg1.s29 !='no' and @bcat1.s29!='no' and @bcat1.s29 !=''%>
<tr><td><%= @btg1.s29 %> </td> <td><%=@bcat1.s29%></td> </tr>
<% end %>
<% if @btg1.s30 !='no' and @bcat1.s30  and @bcat1.s30.strip !=''%>
<tr><td><%= @btg1.s30 %> </td> <td><%=@bcat1.s30%></td> </tr>
<% end %>
 </table>

