
<% content_for(:tit) do %>
Живой офис. Подарки к праздникам!
<%end%>


<% content_for(:sort) do %>
<%= render :partial=>'/part2/sort_gift2' %>
     <!--  сортировка конец  -->
<% end %>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->


<% content_for(:cont) do %>
<div style="position: relative; top: -20px; ">
  <a href="/" style="color: #808285; text-decoration: none;">Главная >> </a> <span style="color:#03B1EE;">Подарки к праздникам </span>

</div>


 

     <div id="tovar">
     
    <div style="width:550px; vertical-align: bottom;">
      <div style="position: relative; top: -16px;">
    <img src="/images2/<%=@back%>" width="550px" />
    <span style="position: absolute; top: 10px; left: 20px; color: white; font-size: 14px; font-weight: bold;">
      <%= @holiday_title %>
    </span>
   </div>
<%= render :partial => 'gift_menu' %>

 <a style=" font-weight: bold;  font-size: 14px;position:relative;top:-17px;" href="/kt3/gifts">
Все подарки </a>

      <div style="position:relative; top: -12px;">
<%= will_paginate @tg  %>
      </div>


<%ff=0%>





       <div id="<%#=@cat.tg%>" >
         <table border="0"  ><tr>
       <% for tg in @tg do %>
       <%ff+=1%>
    <% @cat=Cat1.find(tg.id)  %>


<td valign="top" style="padding-right:10px; padding-top: 3px; <%= 'padding-right:0px;' if (ff%3)==0%> margin:0px;border-bottom:1px dashed #808285; ">
    <div style="margin:0px;padding:0px;display:block;">


<%= render(:partial => 'kt3/cat22v',:object =>@cat,:object=>@tov3) %>
    </div>

  </td>

<% if (ff%3)==0 %>
  </tr><tr>
  <%end%>

    <% end %>
  </tr></table>
          </div>
<%= will_paginate @tg %>
     </div>


 </div>

<%  end %>





