<% content_for(:cont) do %>

<h1>Редактирование подгруппы второго уровня</h1>

<% form_for(@tov2) do |f| %>
  <%= f.error_messages %>

  <p>
    Родительская группа 1 порядка:<br/>
    <%= f.collection_select :first1_id, First1.all, :id, :name, {} %>
  </p>
  
  <p>
    Название:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Хлебные крошки:<br />
    <%= f.text_field :hk %>
  </p>
  <p>
    Резервное поле<br />
    <%= f.text_field :reserv %>
  </p>
   <p>
    Номер по порядку:<br />
    <%= f.text_field :ord %>
  </p>
  <p>
    Текст показать все:<br />
    <%= f.text_field :all %>
  </p>
  <p>
    <%= f.submit "Обновить" %>
  </p>
<% end %>

<%= link_to 'Back', tov2s_path %>
<%end%>