<p>
  <b>First1:</b>
  <%=h @tov2.first1_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @tov2.name %>
</p>

<p>
  <b>Hk:</b>
  <%=h @tov2.hk %>
</p>

<p>
  <b>Reserv:</b>
  <%=h @tov2.reserv %>
</p>
<p>
  <b>текст показать все:</b>
  <%=h @tov2.all %>
</p>



<%= link_to 'Edit', edit_tov2_path(@tov2) %> |
<%= link_to 'Back', tov2s_path %>
