<div class="footer">
  <div class="footer_menu_block">
    <%= link_to 'Покупателям' , '/' %>
     <%= link_to 'Условия доставки' , '/' %>
     <%= link_to 'Как сделать заказ' , '/' %>
     <%= link_to 'Как принимать заказ' , '/' %>
  </div>
    <div class="footer_menu_block">
    <%= link_to 'Покупателям' , '/' %>
     <%= link_to 'Условия доставки' , '/' %>
     <%= link_to 'Как сделать заказ' , '/' %>
     <%= link_to 'Как принимать заказ' , '/' %>
  </div>

    <div class="footer_menu_block">
    <%= link_to 'Покупателям' , '/' %>
     <%= link_to 'Условия доставки' , '/' %>
     <%= link_to 'Как сделать заказ' , '/' %>
     <%= link_to 'Как принимать заказ' , '/' %>
  </div>

    <div class="footer_menu_block">
    <%= link_to 'Покупателям' , '/' %>
     <%= link_to 'Условия доставки' , '/' %>
     <%= link_to 'Как сделать заказ' , '/' %>
     <%= link_to 'Как принимать заказ' , '/' %>
  </div>


</div>

<div class="copyright">
       Живой офис   ©  2013
</div>