<div class="main_menu2">
  <%= link_to  'оплата и доставка'  , '/'%>
   <%= link_to 'сервис' , '/' %>
   <%= link_to 'гарантии' , '/' %>
   <%= link_to 'как купить' , '/' %>
   <%= link_to'компания' , '/'%>
</div>