

<div style="display: none; position: absolute;  padding: 0pt; z-index: 1111; border: 1px solid #999999;"  id="<%='pic'+@cat.id.to_s%>">
  <% if @cat.pic1 %>
  <img src="<%='/img/'+@cat.pic1+'.jpg'%>" width="200px" border="0"/>
  <% end %>
</div>

<table width="100%" border="0" style="border-bottom:dashed 1px #b1b3b6; margin-bottom: 5px; <%='background-color: lightpink;' unless @cat.vis %> ">

     <tr>
       <td style="width: 50px;" align="center" valign="center" >

  <%= link_to (image_tag(img_cat(@cat.pic1) ,:style=>"width:50px" , :alt=>@cat.fullname  , :title=>@cat.fullname)), {:controller=>'kt3',:action=> (@cat.raspr == 3 ? 'set' : 'tov'),:id=>@cat.id} , :onmouseover=>"build_2('#{"pic"+@cat.id.to_s}')" , :onmouseout=>"hide2('#{"pic"+@cat.id.to_s}')" %>

     </td>
       <td style="width:50px; padding-right: 5px;">
       <span style="font-size: 9px;font-weight:bold; color: #b1b3b6;">
       <% if @cat.kpk and @cat.kpk != '' and @cat.kpk != ' ' %>
          Код<br/> каталога:<br/><%=@cat.kpk%>
      <% end %>
       </span>
      <%#=  link_to_remote @cat.tg ,:url=>{:action=>'tov',:id=>@cat.id},:update=>{:failure=>'c1',:success=>@cat.id,:loading=>'c1'},:loading=>"call();",:loaded=>"call1();",:interactive=>"call2();",:succes=>'call3();',:failure=>'show_error(xhr);' %>

       </td>
       <td valign="center" align="left" >
        <%@name =  (@cat.name == '' or @cat.name == nil) ? @cat.fullname :  @cat.name %>
      <b>    <%=link_to @name,{:controller=>'kt3',:action=>(@cat.raspr == 3 ? 'set' : 'tov'),:id=>@cat.id}, :class=>'tit_tov' %></b>
<br/> <%= link_to 'аналоги', {:controller=>'kt3',:action=>'tov',:id=>@cat.id} if analog_any?(@cat)%>

<%if login?%>
<% @it=It.find(:first,:conditions=>['user_id=? and k1c=? ',@user.id,@cat.k1c])%>
  <% if @it %>
    <%= render(:partial=> '/kt1/it') %>
  <%else%>
    <% @tov3=Tov3.find(@cat.tov3_id) %>
    <% @f1=Tov2.find(@tov3.tov2_id) %>
    <% @kod_f1=First1.find(@f1.first1_id) %>
    <div id=it_<%=@cat.id%> style=" margin-top: 5px;">
    <%  update='it_'+@cat.id.to_s %>
      <% remote_form_for :it  , :url=>{:controller=>'kt1',:action=> :create_it},:update=>update do |f| %>
        <%= f.hidden_field :user_id ,:value=>@user.id  %>
        <%= f.hidden_field :k1c ,:value=>@cat.k1c %>
        <%= f.hidden_field :tg3 ,:value=>@tov3.id %>
        <%= f.hidden_field :tg2 ,:value=>@tov3.tov2_id %>
        <%= f.hidden_field :tg1 ,:value=>@f1.first1_id %>
        <%= f.hidden_field :kod_f1 ,:value=>@kod_f1.kod %>
        <%= f.hidden_field :brend ,:value=>@cat.brend %>
        <%=f.submit 'В избранные',:class=>'it_submit'%>
      <%end if @user.role != 'redaktor'%>
    </div>
  <%end%>
 
  <% if @user.role =='redaktor'%>
      <div id="<%='id_'+ @cat1.id.to_s%>">  </div>
               <%= link_to_remote "редактировать" ,{:url=>{:controller=>'kt1',:action=>'edit_tov',:id=>@cat.id},:update=>'id_'+ @cat1.id.to_s},:href => url_for(:controller=>'login',:action => "login")%>
               <% if @cat.collection_id %>
               <span class="sha" style="padding: 3px; border: 1px solid white; background-color: green; color: white; position: relative; top: -15px; ">
               <%=  link_to 'В коллекции >>' , {:controller=>'collections' , :action=>'one_coll', :id=>@cat.collection_id} , :style=>'color:white' %>
               </span>
             <% end %>
  <%end%>
    
<%end%>
       </td>


        <% @cat1=@cat %>
       <td  align="left" valign="center" style="width: 85px;" >
        
        <%= render  :partial =>'/kt3/uprice',:user=>@user, :cat=>@cat %>
       </td>

       <td align="right"  valign="cener" style=" width: 70px; padding-top: 10px;">

    <% @tvc=Cart.find :first,:conditions=>['sesion_id=? and k1s=?',request.session_options[:id],@cat1.k1c] %>
    <% if @tvc || (login? && @user.only_specs) %>
      <%= render(:partial=> '/kt1/tvc') %>
    <%  else  %>
      <%= render(:partial=> '/kt3/zakaz', :object=>@cat1,:object=>@user  ,:uprice=>@uprice) %>
    <% end %>



       </td>

     </tr>

   </table>
