
Товаров не было:<%=@ff%> <br />
Товаров добавлено:<%=@ff2%> <br />

<h2>Новые товары</h2>
<table>
<% for k1 in @k1 do %>

  <tr>
    <td> <%=k1.k1c%> </td>
    <td> <%=k1.name%> </td>
  </tr>
<% end %>
</table>
<br /> <br />
<h2>Товары без группы (не добавлены)</h2>
<table>
<% for k2 in @k2 do %>

  <tr>
    <td> <%=k2.k1s%> </td>
     <td> <%=k2.name%> </td>
  </tr>
<% end %>
</table>


<h2>Дубли</h2>
<table>
<% for k3 in @duble do %>

  <tr>
    <td> <%=k3.k1c%> </td>
     <td> <%=k3.name%> </td>
  </tr>
<% end %>
</table>

<h1><%#= 'позиций добавлено: ' + @rr.to_s  + ' из ' + @all.to_s %> </h1>

<h1><%#= 'фото для распр. добавлено: ' + @rrr.to_s + 'всего товаров в распр.'+ @rr2.to_s %></h1>

<h1><%#= 'временно отсутствует' + @aa.to_s %></h1>

<h1><%#= 'всего бумаги: '+@mp1.to_s + ' новой бумаги: ' + @mp2.to_s %></h1>
