  <% if vacancy.visible? == false %>
    <div class="v_name" style="background-color: grey;" onclick="tog('v<%=vacancy.id%>')">
  <% else %>
    <div class="v_name" onclick="tog('v<%=vacancy.id%>')">
  <% end %>
    <span> <%= vacancy.profession %> <br/>
<%= vacancy.paiment %>
</span>

    <span style="float: right;"><%= link_to 'Редактировать', edit_vacancy_path(vacancy) , :style=>'color: white;'%>
    <%= link_to 'Удалить', vacancy, :confirm => 'Удаляем?', :method => :delete , :style=>'background-color: white; color: red; padding-left: 10px; paddind-right: 10px;' %></span>
</div>
<table style="width: 100%;" border="0" class="vacancy" cellpadding="0" cellspacing="0" id="v<%=vacancy.id%>" >
<tr>
  <td style="width: 150px;">Город:</td>
  <td><%= vacancy.city %></td>
</tr>
<tr>
  <td style="width: 150px;">Опыт:</td>
  <td><%= vacancy.experience %></td>
</tr>
<tr>
  <td>Образование:</td>
  <td><%= vacancy.education %></td>
</tr>
<tr>
  <td>График работы:</td>
  <td><%= vacancy.shedule %></td>
</tr>
<tr>
  <td>Обязанности:</td>
  <td><%= vacancy.duties %></td>
</tr>
<tr>
  <td>Требования:</td>
  <td><%= vacancy.requirements %></td>
</tr>
<tr>
  <td>Условия:</td>
  <td><%= vacancy.conditions %></td>
</tr>
<tr>
  <td>Предпочтения:</td>
  <td><%= vacancy.preference %></td>
</tr>
<tr>
  <td>Оплата:</td>
  <td><%= vacancy.paiment %></td>
</tr>
<tr>
  <td>Контактное лицо:</td>
  <td><%= vacancy.contact %></td>
</tr>
</table>