<% content_for(:cont) do %>
<style type="text/css">
 tr.nptr:hover { background-color: yellow;;}
 .r1 {background-color:white;}
  .r2 {background-color:#eeeeee;}
  .edit_tov {margin-top: -235px;}
  
</style>
<h2> Нет такого файла не сервере </h2>
<div style="margin: 10px;">
  <%= link_to 'Нет фото в базе' , :action=>'index' %>
</div>

<%= will_paginate @np , :style=>'margin-top: 10px;' %>
<br/><br/>
<table class="np" cellpadding="5" cellspacing="0" border="0" style=" clear: both; width: 100%;" >
  <tr>
    <th> Код 1с</th> <th> Наименование</th> <th> Подкатегория</th> <th> Редактировать</th>
  </tr>
 <% for np in @np do %>
  <% tov3=Tov3.find_by_id(np.tov3_id) %>
  <tr class="nptr <%= cycle('r1', 'r2')%>" >
    <td><%=np.k1c %>  </td>
    <td title="<%= np.name%>"><%= truncate(np.name, 60 )%> </td>
    <td><%=tov3.name if tov3 %>
     <div id="<%='id_'+ np.id.to_s %>"> </div>
    </td>
    <td><%= link_to_remote "редактировать" ,{:url=>{:controller=>'kt1',:action=>'edit_tov',:id=>np.id},:update=>'id_'+ np.id.to_s},:href => url_for(:controller=>'login',:action => "login")%> </td>

  </tr>
  <% end %>
</table>

<%= will_paginate @np , :style=>'margin-top: 10px;' %>
<br/> <br/><br/>

<% end %>