


<%ff=0%>

<div class="comics_menu">

<% if $comix == 1 %>
  <%= link_to 'Сезон 1' , {:action=>'index' ,:id=>'0' , :com=>'1'} , {:class=>'menu_link_act'} %>
  <%= link_to 'Сезон 2' , {:action=>'index' ,:id=>'0' , :com=>'2'} , {:class=>'menu_link'} %>
  <%= link_to 'Сезон 3' , {:action=>'index' ,:id=>'0' , :com=>'3'} , {:class=>'menu_link'} %>
<% elsif $comix == 2 %>
   <%= link_to 'Сезон 1' , {:action=>'index' ,:id=>'0' , :com=>'1'} , {:class=>'menu_link'} %>
  <%= link_to 'Сезон 2' , {:action=>'index' ,:id=>'0' , :com=>'2'} , {:class=>'menu_link_act'} %>
  <%= link_to 'Сезон 3' , {:action=>'index' ,:id=>'0' , :com=>'3'} , {:class=>'menu_link'} %>
<% else  %>
  <%= link_to 'Сезон 1' , {:action=>'index' ,:id=>'0' , :com=>'1'} , {:class=>'menu_link'} %>
  <%= link_to 'Сезон 2' , {:action=>'index' ,:id=>'0' , :com=>'2'} , {:class=>'menu_link'} %>
  <%= link_to 'Сезон 3' , {:action=>'index' ,:id=>'0' , :com=>'3'} , {:class=>'menu_link_act'} %>

  <% end %>





<% for comix in @c do %>
  
<% ff+=1 %>

 <% if params[:id]==(ff-1).to_s %>
   <%= link_to ff.to_s , {:action=>'index', :id=>ff-1, :com => $comix} , {:style=>'color: #03B1EE;'} %>
  <% else %>
<%= link_to ff.to_s , {:action=>'index', :id=>ff-1, :com => $comix} %>
  <% end %>

<% end %>

 <%= link_to 'дальше' , {:action=>'index' , :id=>(params[:id].to_i+1), :com => $comix} , {:style=>'margin-left: 5px;'} %>
</div>