
<% content_for(:cont) do %>

<h1>Редактирование</h1>

<% form_for(@secret) do |f| %>



<div style="display: inline-block; width: 450px; margin-top: 5px;">

    <%= f.hidden_field :user_id , :value => @user.id  if @user %>
    <%= f.text_area :secret , :style=>'width: 430px; height: 180px;' %>
    <p style="margin-top: 10px; float: right;">
    <%= f.submit 'СОХРАНИТЬ' , :class=>"edit_link" %>
  </p>

</div>

  <div style="display: inline-block; ">
     <p>
    <%= f.label 'Видимость' %> <%= f.check_box :vis %>
  </p>
  <p>
    <%= f.label 'имя:'%><br />
    <%= f.text_field :name , :style=>'width: 300px;' %>
  </p>
  <p>
    <%= f.label ' фамилия:' %><br />
     <%= f.text_field :last_name, :style=>'width: 300px;' %>
  </p>
      <p>
    <%= f.label 'телефон:' %><br />
     <%= f.text_field :phone , :style=>'width: 300px;' %>
  </p>
    <p>
    <%= f.label 'e-mail:' %><br />
     <%= f.text_field :mail, :style=>'width: 300px;' %>
  </p>

  <p>
    <%= f.label 'Компания:' %><br />
    <%= f.text_field :company_ind, :style=>'width: 300px;' %>
  </p>
  </div>




<% end %>


<%= link_to 'Вернуться', secrets_path %>

<% end %>