<% content_for(:tit) do%>
Разгадай секрет живого офиса!
<% end %>

<% content_for(:cont) do %>
<%= image_tag('/images2/secret2.gif', :width=>'920px') %>
<%= image_tag('/images2/sekret_zho_itog_line.png', :width=>'920px' , :style=>'margin-top: 10px; margin-bottom: 10px;') %>


<h2 style="color:#dc3154; margin-bottom: 15px;">
   Дорогие друзья!
 </h2>

<p>
  Подведены итоги конкурса <h2 style="color:#dc3154; margin-bottom: 15px;">
  Секрет “Живого офиса”! </h2></p>
<p>
Мы с огромным удовольствием получали, читали и внимательно изучали ваши отзывы на протяжении всего конкурса,
cпасибо всем участникам за такие теплые, душевные, приятные, позитивные слова. </p>
<p>
Сегодня мы объявляем победителей, ими стали:
</p>
<br/><br/><br/>
<p>
<b>
  <%= image_tag('/images2/1-place.png') %><br/>
1 место: Светлана Борисенко, компания ООО “Инко-Балт”, Санкт-Петербург<br/><br/>

<br/>
<%= image_tag('/images2/2-place.png') %><br/>
2 место: Яна Лобанова, компания ООО "АТРегион", Санкт-Петербург<br/><br/>

<br/>
<%= image_tag('/images2/3-place.png') %><br/>
3 место: Анна Третьякова, компания Zolla, Санкт-Петербург<br/><br/>

<br/>
<%= image_tag('/images2/for-all-place.png') %><br/>
Все участники получат также фирменную пастилу Секрет “Живого офиса” в подарок!<br/><br/>

</b>
</p>
<br/>
<h2> Просим победителей и участников отправить нам контактную информацию <br/> на e-mail: pr@zhivojoffice.ru </h2>
<br/>

<br/> <br/>
<h2 style="color:#dc3154; margin-bottom: 15px;">
Нам было очень сложно определить победителей.
 </h2>
<br/>



<p>
  В каждом есть что-то свое, какой-то штрих, который дополняет портрет “Живого офиса”, делает его объемным, полным, спасибо вам за это! </p>

<p>
Наверное, у победителей получилось чуть ближе подойти к нашим внутренним ощущениям, к тому, как мы себя чувствуем, определить и выразить то, что помогает нам работать,
развиваться, расти и, в том числе, получать такие замечательные отклики. </p>
<p>
Секрет “Живого офиса” – в любви к делу, в радости, которую мы получаем от работы и дарим нашим клиентам, партнерам, друзьям.
</p>

<br/><br/>
<p>
  <b>Читайте отзывы победителей конкурса Секрет “Живого офиса” </b>
</p>
<br/>
   <div class="secret-box" style="padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #808285; ">
     <p style="color:#dc3154; margin-bottom: 15px;"> Светлана Борисенко, компания компания ООО "Инко-Балт", Санкт-Петербург
     </p>
     <p>
С чего начинается бодрое рабочее утро? С "Живого" Котика, улыбающегося из каталога под рукой. Так, теперь кофеёк из "Живой" кружки с подарочным вареньем. Ням-ням! Не забыть полить цветочек, подаренный в прошлом году. Ох, и вымахал! Принять факс? - С удовольствием! Распечатать договор? - Сколько угодно! Можно ли папку "весёленького" цвета, чтобы настроение поднимал? - Выбирай! "Алло, Светлана? Везём Ваш заказ, скоро будем - ожидайте!" Запись в "Живой" ежедневник: Обязательно пощупать, опробовать все новинки "Живого офиса"! Так...о чём это я? Секрет? "Живой офис" пробуждает ЖИВОЙ интерес к некогда рутинной работе!

     </p>
    </div>

   <div class="secret-box" style="padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #808285; ">
     <p style="color:#dc3154; margin-bottom: 15px;"> Яна Лобанова, компания ООО "АТРегион", Санкт-Петербург
     </p>
     <p>
Я счтитаю, что секрет "Живого Офиса" в том, что его команда молодых, энергичных и креативных сотрудников активно борется с рутиной и помогет это делать своим клиентам! Так как, в основном, канцелярию и другие различные товары для офиса заказывают женщины, то и сайт да и вообще вся политика компании ориентирована на них! Все женщины любят подарки, а в "Живом Офисе" как раз есть возможность получать подарки при заказах так необходимой для офиса канцелярии. Так же есть возможность учавствовать в различных конкурсах, читать интересные комиксы про Лерочку и даже учавствовать в викторине! Все это делает обычные рабочие будни не скучными, а Живыми!, и это самое главное! А так как в "Живом Офисе" всегда царит атмосфера уюта и в заказе канцелярии помогают доброжелательные и улыбчивые операторы и менеджеры, заказ канцелярии становится еще более приятным! Ни одна женщина не захочет променять "Живой Офис" ни на кого другого! Вот и весь секрет:)
     </p>
    </div>

   <div class="secret-box" style="padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #808285;  ">
     <p style="color:#dc3154; margin-bottom: 15px;"> Анна Третьякова, компания Zolla, Санкт-Петербург
     </p>
     <p>

Не в том живого офиса кроется секрет, Что рекламируют его на каждом перекрестке - нет! Вы думаете в чем же тогда его успех? Чтоб обслужить народу побольше всех наспех? Но первое - второе неверно, господа. Реклама и количество решают не всегда. Секрет живого офиса, товарищи, в любви К работе, к коллективу, в котором все свои, К каждому клиенту, им искренне он рад, Мальчикам и девочкам, стар он или млад.

     </p>
    </div>



<%= image_tag('/images2/sekret_zho_itog_line.png', :width=>'920px' , :style=>'margin-top: 10px; margin-bottom: 10px;') %>







<br/>
<p style="color:#dc3154; margin-top: 25px; margin-bottom: 20px; font-weight: bold; font-size: 18px; line-height: 25px; ">
  Внимание, конкурс. <br/>
  Разгадайте секрет «Живого офиса» и получите ценные призы!
 <!--  <a href="#form" class="edit_link" style="color: white; text-decoration: none; font-weight: normal; font-size: 13px">ДОБАВИТЬ СВОЙ ОТВЕТ</a> <br/> -->

 </p>
  <p style="color: #808285; font-size: 12px; font-weight: normal;">  В поисках разгадки Вам может помочь 3-я серия комикса <a href="/comics">«Карьера, скрепки и любовь»</a>. </p>

 <p style=" margin-bottom: 40px;  color: #808285;">
   Победители будут объявлены 30 апреля 2013 года.
 </p>
 <% if flash[:notice] -%>

    <h2 style="color:green;"> <%= flash[:notice] -%> </h2>
  
<% end -%>
 
<% if @secrets and @secrets.size > 0 %>
  <div style="border-top: 2px dashed #dc3154; margin-top: 30px; padding-top: 20px;">
 <h2 style="color:#dc3154; margin-bottom: 15px;">
   Уже разгадали секрет
 </h2>


<% @secrets.each do |secret| %>
   <div class="secret-box" style="padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #808285;  <%=  'background-color:  linen; border: 1px solid red;' unless secret.vis %>">
     <p style="color:#dc3154; margin-bottom: 15px;"> <%=h secret.name %> <%=h secret.last_name %>, компания <%=h secret.company_ind %>, <%=h secret.city %>
    <% if redaktor? %>
       <span style="float: right;">| <%= link_to 'редактировать', edit_secret_path(secret) %> |
<%= link_to 'удалить', secret, :confirm => 'Точно?', :method => :delete %> </span>
    <% end %>
     </p>
     <p>
    <%=h secret.secret %>
     </p>



    </div>
<% end %>


 </div>
<% end %>

 <p>  <%=error_messages_for 'secret'%> </p>

<a name="form"></a>

<!--
<% form_for(@secret) do |f| %>

<div style="display: inline-block; width: 450px; margin-top: 5px;">
  
    <%= f.hidden_field :user_id , :value => @user.id  if @user %>
    <%= f.text_area :secret , :style=>'width: 430px; height: 193px;' %>
    <p style="margin-top: 10px; float: right;">
    <%= f.submit 'ДОБАВИТЬ СВОЙ ОТВЕТ' , :class=>"edit_link" , :style=>'width: 430px;'%>
  </p>

</div>
 <% unless login? %>
  <div style="display: inline-block; ">
  <p>
    <%= f.label 'Имя:'%><br />
    <%= f.text_field :name , :style=>'width: 300px;' %>
  </p>
  <p>
    <%= f.label 'Фамилия:' %><br />
     <%= f.text_field :last_name, :style=>'width: 300px;' %>
  </p>
      <p>
    <%= f.label 'Телефон:' %><br />
     <%= f.text_field :phone, :style=>'width: 300px;' %>
  </p>
    <p>
    <%= f.label 'E-mail:' %><br />
     <%= f.text_field :mail, :style=>'width: 300px;' %>
  </p>
  <p>
    <%= f.label 'Компания:' %><br />
    <%= f.text_field :company_ind, :style=>'width: 300px;' %>
  </p>
    <p>
    <%= f.label 'Город:' %><br />
   <select name="secret[city]" id="secret_city" style="width:305px; height: 22px;  border:1px solid #808285;" >
  <option value="Санкт-Петербург" <%= 'selected="selected"' if session[:city]=='spb' %> >Санкт-Петербург</option>
  <option value="Москва" <%= 'selected="selected"' if session[:city]=='msk' %> >Москва</option>
  <option value="Смоленск" <%= 'selected="selected"' if session[:city]=='smo' %> >Смоленск</option>
  </select>
  </p>
  </div>
<% else %>
   <div style="display: inline-block; ">
  <p>
    <%= f.label 'Имя:'%><br />
    <%= f.text_field :name ,:value=>@user.scr_name ,  :style=>'width: 300px;' %>
  </p>
  <p>
    <%= f.label 'Фамилия:' %><br />
     <%= f.text_field :last_name,:value=>@user.surname , :style=>'width: 300px;' %>
  </p>
    <p>
    <%= f.label 'Телефон:' %><br />
     <%= f.text_field :phone,:value=>@user.phone , :style=>'width: 300px;' %>
  </p>
    <p>
    <%= f.label 'E-mail:' %><br />
     <%= f.text_field :mail,:value=>@user.mail , :style=>'width: 300px;' %>
  </p>
  <p>
    <%= f.label 'Компания:' %><br />
    <%= f.text_field :company_ind,:value=>@user.company_ind ,  :style=>'width: 300px;' %>
  </p>
  <p>
    <%= f.label 'Город:' %><br />
   <select name="secret[city]" id="secret_city" style="width:305px; height: 22px;  border:1px solid #808285;" >
  <option value="Санкт-Петербург" <%= 'selected="selected"' if session[:city]=='spb' %> >Санкт-Петербург</option>
  <option value="Москва" <%= 'selected="selected"' if session[:city]=='msk' %> >Москва</option>
  <option value="Смоленск" <%= 'selected="selected"' if session[:city]=='smo' %> >Смоленск</option>
  </select>
  </p>
  </div>

 <% end %>
<% end %>

-->



<% end %>