Новый клиент.<%=@user.id %>  <br/>  <br/>

При регистрации  сообщил следующие данные: <br/>

Логин:<%= @user.name %><br/>
Пароль:<%= @pass %><br/>
Фамилия:<%=@user.surname%> <br/>
Имя:<%= @user.scr_name %> <br/>
Телефон:<%=@user.phone%> <br/>
E-mail :<%= @user.mail %> <br/>
Название организации:<%=@user.company_ind%> <br/>
ИНН:<%=@user.inn%> <br/>
Город:<%=@user.city%> <br/>
Дополнительно:<span style="color: green"> <%= @dop %> </span> <br/>


 <br/> <br/> <br/>


Желаем Вам приятного дня <br/>


Искренне Ваш, <br/>

www.zhivojoffice.ru <br/>


(http://www.zhivojoffice.ru).

