<% @legals=Client.find(@order.legal_id) %>
<%@user=User.find(@order.user_id)%>
<% if @legals and  @legals.id != 1%>
<% @ord=Order.find :all , :conditions=>['user_id=? or legal_id=?',@user.id,@legals.id] %>
<% @manager=Kontragent.find :first , :conditions=>['k1c=?',@legals.k1c] %>
<% else %>
<% @ord=Order.find :all , :conditions=>['user_id=?',@user.id] %>
<% end %>
<%= 'Первый заказ' if @ord.size==1  %> 
<br/>
<h1> <%=  @mail.email %> </h1>

Номер заказа: <%=@order.id%><br>
Сумма заказа: <%=@order.summa%><br>

<% if @legals.id==1 %>
User:&nbsp;<%=@user.name%>
<br />Компания:&nbsp;<%=@user.company_ind%> <br />
ФИО:&nbsp;<%=@user.surname + ' ' +  @user.scr_name + ' ' + @user.patronymic %> <br />
Телефон:&nbsp;<%=@user.phone%><br />
ИНН:&nbsp;<%=@user.inn%><br />
<%else%>
Юр.лицо: <%= @legals.name %><br/>
Код 1С: <%= @legals.k1c %> <br/>
Телефон: <%=@user.phone%>
Login: <%=@user.name%>
<%end%>
<br/>

Адрес доставки:<%= @user.city  %><br/>
Детали заказа: <%=@ord.size %> <span style="color: green; font-weight: bold;"> <%= 'Первый заказ' if @ord.size==1  %> </span>. Менеджер: <%= @manager.manager if @manager %> <br/>
Дополнительно: <%=  @order.dop %> <br/>
<table border="1" cellpadding="2" cellspacing="2" >
  <tr>
    <th>Код 1С</th>
    <th>Название</th>
    <th>Цена</th>
    <th>
      Количество
    </th>
  </tr>
<% @order.lineitem.each do |cart| %>
<% @cat=Cat1.find_by_k1c(cart.k1c) %>

  <tr>
    <td style="padding: 2px;">
<%= cart.k1c %>
    </td>
    <td style="padding: 2px;">
<%=@cat.name %> <% if @cat.k11=='999' %> <span style="color: red; font-weight: bold;">Временно нет в продаже! </span> <% end %>
    </td>
    <td style="padding: 2px;">
<%= cart.price %>
    </td>
    <td style="padding: 2px;">
<%= cart.quantity %>
    </td>
  </tr>
<%end%>
</table>

