<%unless login? %>

                  <%else%>
<b   class="name"> Новое сообщение </b>
<br/>
<table>
  <tr> <td style="width: 70px" valign="top">
      <div style="width: 70px; height: 70px; background-color: silver; margin-top: 30px; border: 1px solid #b1b3b6;  background-image: url(/images/ava/qq.jpg); background-position: center center;">

    <% @dp = Deskprof.find :first , :conditions=>['user_id=?',@user.id]%>
        <% if @dp %>
        <% @img = Picture.find :first, :conditions=> ['id=?',@dp.picture_id] %>
            <% if @img %>
                     <img src="<%= url_for(:action =>'picture' , :id => @dp.picture_id) %>" width="70px;" />

            <% else %>
            <%end%>
        <% else %>
        <%end%>
        </div>

    </td>
    <td>
<div id="new_mess" style="  margin-top: 20px; margin-left: 50px">

<%  form_for :desk_subj_new, :url=>{ :action => "save_mess" } do |f|  %>

  <%= f.error_messages %>
<%= f.hidden_field :user_id, :value=>@user.id %>
   <div class="label2"> Тема сообщения :</div>
   <div class="okno2" >
        <%= f.text_area :subj, :cols => 60, :rows=> 1 ,:class=>'tema' %>
   </div>
  <br/>
  <div class="label2"> Ваше сообщение :</div>
  <div class="okno" align="left">

       <%= f.text_area :s_text  ,  :cols=>'64' , :rows=>'4'  , :class =>'index_inp' %>
  </div>




    <%= f.submit '' , :class =>'new_sub' %>


<% end %>


</div>
    </td> </tr>
</table>

<%end %>



