<% content_for(:tit) do %>
Живой офис. О проекте
<% end %>

<% content_for(:cont) do %>



<div style="float:left; width: 608px">
 <div class="green_title">О проекте</div>

<br/><br/>
<h1 style="color: red; font-weight: bold; text-align: center;">
«Живой офис» — все для жизни офисных сотрудников
</h1>
<br/><br/>

<p>
«Живой офис» — это <span style="color:#F88120; font-weight: bold;">10 000 товаров</span> для жизни офисных сотрудников с бесплатной доставкой <br/>в офисы: бумага для офисной техники, канцелярия, письменные принадлежности, хранение документов, оргтехника, компьютерные аксессуары, бытовая техника, продукты питания, офисная мебель, деловая галантерея, подарки и сувениры. 
</p>
<br/>

<p>
Мы выбираем для вас <span style="color:#F88120; font-weight: bold;">лучшие товары</span> по самым <span style="color:#F88120; font-weight: bold;">выгодным ценам</span>, потому что хотим, чтобы жизнь в офисе была красивой, здоровой, эстетичной и комфортной. 
</p>
<br/>

<p>В «Живом офисе» ярко и интересно жить и работать, мы активно боремся с рутиной<br/> и поддерживаем офисных сотрудников разными творческими проектами. На сайте онлайн-игры «Живого офиса» для офисных сотрудников России <%= link_to "«Убей Рутину»", "http://www.ybeirutiny.ru", :class => "about_link" %> развернулась нешуточная борьба с Офисной Рутиной.
</p>
<br/>

<p>
В нашем каталоге вы найдете товары, помеченные значками «эко», «дизайн», «убей рутину» — яркие, удобные, практичные, экологичные. <%= link_to "Закажите каталог «Живой офис»", "http://www.zhivojoffice.ru/zakaz_catalogs/new", :class => "about_link" %> и получите его бесплатно вместе с подарком!
</p>
<br/>

<p>
«Живой офис» работает с ведущими российскими и иностранными компаниями-производителями <br/>и поставщиками товаров для офиса.
</p>
<br/>

<ul>
В «Живом офисе» приятно и выгодно делать заказы:


<li style="margin-left: 25px;">по телефону: +7 (812) 324-80-50 в Санкт-Петербурге</li>
<li style="margin-left: 106px; list-style-type: none;">+7 (495) 730-30-77 в Москве</li>
<li style="margin-left: 106px; list-style-type: none;">+7 (4812) 24-44-24 в Смоленске</li>
<li style="margin-left: 25px;">в интернет-магазине <%= link_to "www.живойофис.рф", "http://www.живойофис.рф", :class => "about_link"%>  </li>
<li style="margin-left: 25px;">по e-mail: <a href="mailto:sales@zhivojoffice.ru", style="color: #00AE4D;">sales@zhivojoffice.ru</a></li>
</ul>
<br/>

<p>
Доставка товаров в офисы осуществляется бесплатно на следующий день после заказа.
</p>
<br/>

<p>
Каждый клиент «Живого офиса» становится участником <span style="color:#F88120; font-weight: bold;">бонусной программы<br/></span> <%= link_to "«Служебный роман»", "http://www.zhivojoffice.ru/bonus2/rule", :class => "about_link" %> и получает накопительные баллы, которые можно тратить на подарки в нашем <%= link_to "бонусном каталоге", "http://www.zhivojoffice.ru/bonus2/", :class => "about_link" %>.
</p>
<br/>

<p>
В личном кабинете вы можете видеть, как растут ваши бонусы, и копить на приглянувшийся подарок.
</p>
<br/>

<p>
После регистрации на сайте «Живой офис» вам будет начислено <span style="color:#F88120; font-weight: bold;">в подарок 150 бонусов</span>, и вы сможете <%= link_to "выбрать", "http://www.zhivojoffice.ru/bonus2/", :class => "about_link" %>, например, баночку вишневого варенья или коробку конфет.
</p>
<br/>

<p>
Мы всегда дарим подарки за первый заказ! 
</p>
<br/>

<p>
В этом месяце — фирменная кружка «Живой офис», баночка варенья или карточка на парфюмерию и косметику на 300 рублей. Если вы получили наш бесплатный желтенький экспресс-каталог — введите код, опубликованный на 65 странице, в специальную форму на главной странице <%= link_to "www.живойофис.рф", "http://www.живойофис.рф", :class => "about_link" %>
</p>
<br/>

<span>
<%= image_tag "/images2/cod_var.gif", :alt => "Живой офис: сделай заказ - получи подарок"%>
</span>
<br/><br/>

<p>
У «Живого офиса» есть секрет — читайте отзывы наших клиентов и участвуйте в <%= link_to "конкурсе", "http://www.zhivojoffice.ru/secrets", :class => "about_link" %><br/> с ценными призами.
</p>
<br/>

<p>
Маленькая подсказка: мы получаем удовольствие от работы и дарим его нашим клиентам!
</p>
<br/>

<p><%= link_to 'Презентация о «Живом офисе» в формате PDF.' , '/doc/Zhivoy_Office_Presentation.pdf', :class => "about_link" %></p>
<br/>
<span>
<%= image_tag "pdf_presentation1.jpg", :alt => "Живой офис: презентация"%>
</span>
<span style="margin-left: 20px;">
<%= image_tag "pdf_presentation2.jpg", :alt => "Живой офис: презентация"%>
</span>
<span style="margin-top: 15px; margin-top: 15px;">
<%= image_tag "pdf_presentation3.jpg", :alt => "Живой офис: презентация"%>
</span>
<span style="margin-left: 20px;">
<%= image_tag "pdf_presentation4.jpg", :alt => "Живой офис: презентация"%>
</span>
<span style="margin-top: 15px;">
<%= image_tag "pdf_presentation5.jpg", :alt => "Живой офис: презентация"%>
</span>
<span style="margin-left: 20px; margin-top: 15px;">
<%= image_tag "pdf_presentation6.jpg", :alt => "Живой офис: презентация"%>
</span>
<br/>

<p style="font-size: 8pt; margin-top: 10px;">
«Живой офис» — все для жизни офисных сотрудников.<br/>
Первая открытая публичная компания на рынке офисного обеспечения.<br/>
Офисы и склады в Москве, Санкт-Петербурге и Смоленске.<br/>
Бесплатная доставка в офисы, бонусы и подарки за каждый заказ.<br/>
<%= link_to "Контактная информация", "http://www.zhivojoffice.ru/contacts", :class => "about_link" %>
</p>

</div>
<% end %>
