<div id="container">
  <div id="header">
    <div class="title">«Живой офис» выходит на IPO</div>
    <div class="share">
      Поделиться:<br/>
    <span>
      <a class="vk" target="_blank" href="http://vkontakte.ru/share.php?url=http://www.zhivojoffice.ru/about/IPO_zhivojoffice"></a>
      <a class="fb" target="_blank" href="http://www.facebook.com/share.php?u=http://www.zhivojoffice.ru/about/IPO_zhivojoffice"></a>
      <a class="tw" target="_blank" href="http://share.yandex.ru/go.xml?service=twitter&url=https%3A%2F%2Fwww.zhivojoffice.ru%2Fabout%2FIPO_zhivojoffice"></a>
      <a class="bs" target="_blank" href="http://zhivojoffice.blogspot.ru/"></a>
    </span>
    </div>
    <div id="links">
      <%= link_to "Сайт для акционеров и инвесторов", "http://corporate.zhivojoffice.ru/", :target => "_blank" %> | <%= link_to "Вернуться в интернет магазин", "http://zhivojoffice.ru/" %>
    </div>
  </div>
    <p style="color: green"><%= flash[:notice] %></p>
    <p style="color: #0BB4FC; font-size: 18px; font-weight: bold;">
      В конце мая 2013 года планируется выход ОАО «Живой офис» на IPO.
    </p>
    <p style="color: #0BB4FC; font-size: 18px; font-weight: bold;">
      Мы предлагаем нашим инвесторам стать совладельцами прозрачной, открытой, динамично развивающейся компании.
    </p>
    <p style="color: #6C6D70; font-size: 18px; font-weight: bold;">
      Деньги, привлеченные в капитал, будут направлены на развитие компании<br/> и построение федеральной сети «Живой офис».
    </p>
    <p style="color: #6C6D70; font-size: 18px; font-weight: bold;">
      Приобрести акции компании можно будет на биржевых торгах в ЗАО «ФБ ММВБ»<br/> в секторе РИИ.
    </p>
    <p style="color: #6C6D70; font-size: 18px; font-weight: bold;">
      Для приобретения акций необходимо заключить договор с брокером, внести деньги на брокерский счет и подать заявку на торгах биржи в ходе размещения.
    </p>

  <div id="left_content">
    <span><span style="font-size: 16px; color: #0BB3FC;">ОАО &laquo;Живой офис&raquo;&nbsp;&mdash;</span> один из&nbsp;лидеров российского рынка товаров<br/>для офиса, первая публичная компания на&nbsp;консервативном российском рынке канцтоваров.</span></p>
    <ul>
      <li>
        <span>
        Компания работает на&nbsp;рынке с&nbsp;1996&nbsp;года, офисы и&nbsp;склады компании находятся в&nbsp;Москве, Санкт-Петербурге и&nbsp;Смоленске.
      </span>
      </li>
      <li>
        <span>
        Формат бизнеса: торговля через интернет-магазин и&nbsp;по&nbsp;каталогу.
      </span>
      </li>
      <li>
        <span>
        Ассортиментная матрица насчитывает более 11 500 тысяч позиций.
      </span>
      </li>
      <li>
        <span>
        &laquo;Живой офис&raquo; отличает оригинальный концепт и&nbsp;дизайн, профессиональный подход к&nbsp;построению бренда и&nbsp;ведению бизнеса, европейская модель выстраивания маркетинговых B2B-коммуникаций с&nbsp;фокусом на&nbsp;офисного сотрудника.
        </span>
      </li>
      <li>
        <span>
        По состоянию на конец 2012 года компания занимает 16% рынка офисного обеспечения Санкт-Петербурга и 1,5% рынка Москвы.
        </span>
      </li>
      <li>
        <span>
        Оборот "Живого офиса" за 2012 год составил 786,8 млн. рублей <br/>(+35% к уровню 2011 года).
        </span>
      </li>
      <li>
      <span>
        Cайт компании: <%= link_to "www.zhivojoffice.ru", "http://zhivojoffice.ru", :target => "_blank"%>
      </span>
      </li>
      <li>
      <span>
        Сайт для акционеров и&nbsp;инвесторов: <%= link_to "www.corporate.zhivojoffice.ru", "http://corporate.zhivojoffice.ru", :target => "_blank"%>
      </span>
      </li>
    </ul>

  </div>

  <div id="right_content">
    <h3 style="text-align: left;">
      IPO для всех
    </h3>
    <p style="text-align: left;">
      Купить обыкновенные акции ОАО &laquo;Живой офис&raquo; в&nbsp;ходе проходящего IPO может каждый, для этого достаточно заполнить предварительную заявку. Заполните заявку, мы&nbsp;свяжемся с&nbsp;вами и&nbsp;проконсультируем по&nbsp;всем интересующим вопросам.
    </p>
    <h3 style="text-align: left;">
      Выгодная дивидендная политика
    </h3>
    <p style="text-align: left;">
       ОАО &laquo;Живой офис&raquo; объявляет дивидендную политику, предусматривающую дивиденды в&nbsp;размере не&nbsp;менее&nbsp;20% от&nbsp;чистой прибыли Группы &laquo;Живой офис&raquo; по&nbsp;МСФО по&nbsp;итогам 2013&nbsp;года, и&nbsp;не&nbsp;менее&nbsp;75% по&nbsp;итогам <nobr>2015-17 годов.</nobr>
     </p>
  </div>
  
  <div style="clear: both;"> </div>

  <h1>
    Основные факты
  </h1>
  <div style="clear: both;"> </div>

</span>
  <p style="text-align: justify;">
    ОАО &laquo;Живой офис&raquo; планирует использовать привлеченные в&nbsp;результате IPO средства для экспансии в&nbsp;регионы, укрепление позиций на&nbsp;рынке Москвы, развитие интернет-торговли, логистической и&nbsp;IT-инфраструктуры.
  </p>
  <ul style="margin-bottom: 30px;">
    <li style="text-align: justify;">
      <span>
      Количество акций к&nbsp;размещению: 4&nbsp;000&nbsp;000&nbsp;штук.
    </span>
    </li>
    <li style="text-align: justify;">
      <span>
      Планируемый период размещения: конец мая 2013&nbsp;года.
    </span>
    </li>
    <li style="text-align: justify;">
      <span>
      ОАО &laquo;Живой офис&raquo; объявляет дивидендную политику, предусматривающую дивиденды в&nbsp;размере не&nbsp;менее&nbsp;20% от&nbsp;чистой прибыли Группы &laquo;Живой офис&raquo; по&nbsp;МСФО по&nbsp;итогам 2013 года и&nbsp;не&nbsp;менее&nbsp;75% по&nbsp;итогам <nobr>2015-17 годов.</nobr>
    </span>
    </li>
    <li style="text-align: justify;">
      <span>
      Акции будут продаваться через ЗАО &laquo;ФБ&nbsp;ММВБ&raquo; в&nbsp;секторе РИИ с&nbsp;включением в&nbsp;котировальный список &laquo;В&raquo;. Для приобретения акций необходимо заключить договор с&nbsp;брокером, внести деньги на&nbsp;брокерский счет и&nbsp;подать заявку на&nbsp;торгах биржи в&nbsp;ходе размещения.
    </span>
    </li>
    <li style="text-align: justify;">
      <span>
      Андеррайтером выпуска является ЗАО ИК&nbsp;&laquo;ФИНАМ&raquo;.
    </span>
    </li>
  </ul>

  <h1>
    Основные параметры IPO
  </h1>
  <div style="clear: both;"> </div>

<table cellpading="0" cellspacing="0">
  <tr>
    <th>Эмитент:</th>
    <th>ОАО «Живой офис»</th>
  </tr>
  <tr>
    <td>Листинговый агент, организатор IPO</td>
    <td>Eastland Capital</td>
  </tr>
  <tr>
    <td>Андеррайтер:</td>
    <td>ЗАО «ИК ФИНАМ»</td>
  </tr>
  <tr>
    <td>Листинг: </td>
    <td>Котировальный список «В» ЗАО «ФБ ММВБ»</td>
  </tr>
  <tr>
    <td>Диапазон цены (за одну акцию), руб: </td>
    <td>Будет определен после сбора заявок</td>
  </tr>
  <tr>
    <td>Период сбора заявок:</td>
    <td>10:00 мск 25.04.2013 г. – 19.00 мск 30.04.2013 г.</td>
  </tr>
  <tr>
    <td>Дата уведомления о цене размещения: </td>
    <td>01.05.2013 г.</td>
  </tr>
  <tr>
    <td>Акцепт заявок:</td>
    <td>10:30 - 11:00 мск 01.05.2013г.</td>
  </tr>
  <tr>
    <td>Начало торгов:</td>
    <td>Конец мая 2013 года</td>
  </tr>
  <tr>
    <td>Государственный регистрационный номер выпуска акций:</td>
    <td>1-01-05382-D-001D</td>
  </tr>
</table>

  <div id="booking_form">
    <h2>Подать предварительную заявку на акции</h2><br/>
    <% form_for :booking do |f| %>
      <%= f.error_messages %>

      <%= f.label 'Имя, Фамилия *' %><br />
      <%= f.text_field :name , :style=>'width: 300px; margin-bottom: 10px;' %>
      <%= f.label 'E-mail *' %><br />
      <%= f.text_field :email , :style=>'width: 300px; margin-bottom: 10px;' %>
      <%= f.label 'Телефон (с кодом) *' %><br />
      <%= f.text_field :phone , :style=>'width: 300px; margin-bottom: 10px;' %>
      <%= f.label 'Количество акций (мин. 10 шт.) *' %><br />
      <%= f.text_field :actions_number , :style=>'width: 300px; margin-bottom: 10px;' %>
      <p style="margin: 0px 0px 10px 0px; line-height: 12px;">Согласен на обработку моих персональных данных <br/>в соответствии с законом РФ №152-ФЗ от 26 июля 2006 г.</p>
      <%= f.submit "", :type => :image, :src => "/images/ipo/booking.png" %>
    <% end %>
  </div>

  <div id="consultation_form">
    <h2>Получить консультацию</h2><br/>
    <% form_for :consultation do |f| %>
      <%= f.error_messages %>

      <%= f.label 'Имя, Фамилия *' %><br />
      <%= f.text_field :name , :style=>'width: 300px; margin-bottom: 10px;' %>
      <%= f.label 'E-mail *' %><br />
      <%= f.text_field :email , :style=>'width: 300px; margin-bottom: 10px;' %>
      <%= f.label 'Телефон (с кодом) *' %><br />
      <%= f.text_field :phone , :style=>'width: 300px; margin-bottom: 10px;' %>
      <p style="margin: 0px 0px 10px 0px; line-height: 12px;">Согласен на обработку моих персональных данных <br/>в соответствии с законом РФ №152-ФЗ от 26 июля 2006 г.</p>
      <%= f.submit "", :type => :image, :src => "/images/ipo/consultation.png" %>
    <% end %>
  </div>

  <div class="links_left">
    <h1>
      Аналитические материалы
    </h1>
    <div style="clear: both;"> </div>
    <%= link_to "Андеррайтер: ИК «Финам»", "http://www.finam.ru/", :target => "_blank" %>
    <%= link_to "Листинговый агент: «Eastland Capital»", "http://www.eastlandcapital.com/", :target => "_blank" %>
    <%= link_to "Финансовая отчетность за 2012 год", "http://corporate.zhivojoffice.ru/ckeditor_assets/attachments/192/Zhivoj_Office_Konsolidirovannaya%20finansovaya%20otchetnost_2012.pdf?1364993635", :target => "_blank" %>
    <%= link_to "Эмиссионные документы", "http://www.e-disclosure.ru/portal/company.aspx?id=31874", :target => "_blank" %>
  </div>

  <div class="links_right">
    <h1>
      Информация о «Живом Офисе»
    </h1>
    <div style="clear: both;"> </div>
    <%= link_to 'Краткая презентация IPO' , '/doc/short_ipo.pdf', :target => "_blank" %>
    <%= link_to 'Презентация для акционеров и инвесторов' , '/doc/ipo_for.pdf', :target => "_blank" %>
    <%= link_to "Корпоративный сайт", "http://corporate.zhivojoffice.ru/", :target => "_blank" %>
    <%= link_to "Отзывы о компании", "http://www.zhivojoffice.ru/secrets", :target => "_blank" %>
  </div>

<div id="footer">
    <div style="margin-left: 70px;">
   <span class="top">Листинговый агент:</span><br/>
   <%= link_to "Eastland Capital", "http://www.eastlandcapital.com/", :target => "_blank" %><br/><br/>
   <span class="name">Павел Биленко</span><br/>
   <span class="info">Генеральный директор <br/>
   <%= link_to "bilenko@eastlandcapital.com", "mailto:bilenko@eastlandcapital.com" %><br/>
   Тел.: +7 (812) 313-24-80</span>
  </div>
    <div>
   <span class="top">Департамент по работе с акционерами и инвесторами </span><br/>
   <%= link_to "«Живой офис»", "http://www.zhivojoffice.ru/", :target => "_blank" %><br/><br/>
   <span class="name">Ирина Рулева</span><br/>
   <span class="info">Директор департамента<br/>
   <%= link_to "iruleva@spens.ru", "mailto:iruleva@spens.ru" %><br/>
   Телефон: +7 (812) 324-80-50 (доб. 1253)</span>
  </div>
  <div style="margin-left: 70px;">
    <span class="top">PR-служба</span><br/>
    <%= link_to "«Интерфакс Бизнес Сервис»", "http://www.irconsulting.ru/", :target => "_blank" %><br/><br/>
    <span class="name">Кирилл Винокуров</span><br/>
    <span class="info">IR-менеджер<br/>
    <%= link_to "pr@zhivojoffice.ru", "mailto:pr@zhivojoffice.ru" %></span>
  </div>
</div>

</div>
