<h1>Подкатегория: <%=h  @btg1.name %></h1>
<h1>Характеристика: <%=h  @s %></h1>

<table>
  <tr>
   
    <th>S<%=h @btg1hars[0].s %></th>
    <th>Название</th>
  </tr>

<% @btg1hars.each do |btg1har| %>
  <tr>
  
    <td><%=h  @s %></td>
    <td><%=h btg1har.name %></td>
    
    <td><%= link_to 'Редактировать', edit_btg1har_path(btg1har) %></td>
    <td><%= link_to 'Удалить', btg1har, :confirm => 'Точно?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить', {:action=>'new' , :id=>params[:id], :s=>params[:s]} %> <%= link_to 'Вернуться', {:controller=>'btg1s',:action=>'edit' , :id=>@btg1hars[0].btg1_id} %>