<p>
  <b>Btg1:</b>
  <%=h @btg1har.btg1_id %>
</p>

<p>
  <b>S:</b>
  <%=h @btg1har.s %>
</p>

<p>
  <b>Name:</b>
  <%=h @btg1har.name %>
</p>


<%= link_to 'Edit', edit_btg1har_path(@btg1har) %> |
<%= link_to 'Back', btg1hars_path %>