<% content_for(:cont) do %>
  <table style="width: 100%;">
    <tr>
      <td  style="padding: 5px;">
         <h2 style="color: red;">Слайды <%= @action_now.name %>:</h2>
      </td>
    </tr>
    <tr>
      <td style="padding: 5px; font-weight: bold; text-decoration: none;">
        <% for action in @actions %>
          <% if action.id == session[:current_action].to_i %>
            <%= link_to "Слайды #{action.name}" , {:action=>'index' , :action_id => action.id} , :style=>'background-color: forestgreen; color: white; padding: 5px; border: 1px solid gray;  text-decoration: none; margin-right: 15px;'  %>
          <% else %>
            <%= link_to "Слайды #{action.name}" , {:action=>'index' , :action_id => action.id} , :style=>' padding: 5px; border: 1px solid gray; color: black; background-color:  #E5E5E5; text-decoration: none; margin-right: 15px;'%>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
    <div style="margin-bottom: 15px; margin-top: 15px; ">
      <%= button_to "Добавить новый слайд для #{@action_now.name}", new_actionitem_path(:action_id => @action_now.id)  %><br/><br/>
      <% unless @action_now.actionitems.blank? %>
        <% @action_now.actionitems.sort{|a,b| a.sort <=> b.sort}.each do |actionitem| %>
          <div class="info_txt" >
            <table cellpadding="0" cellspacing="0" >
              <tbody>
                <tr>
                  <% if actionitem.pic %>
                    <td valign="top">
                      <%= link_to image_tag("action_items_images/#{actionitem.pic}"), edit_actionitem_path(actionitem), :title => "#{actionitem.title}" %>
                        <div style="margin: 0px 0px 10px 0px; padding: 5px; background-color:  #ededed;">
                        <h2 style="float: left; margin-right: 20px;">№: <%= actionitem.sort %></h2>
                        <%= button_to 'Изменить', edit_actionitem_path(actionitem) , :style=>'float: left;' , :method=>'get' %>
                        <%= button_to 'Удалить', actionitem, :confirm => 'Вы уверены, что хотите удалить эту акцию?', :method => :delete , :style=>'float: right' %>
                        <div class="clear"> </div>
                        </div>
                    </td>
                  <% end %>
                </tr>
              </tbody>
            </table>

        </div>
      <% end %>
    <% end %>
  </div>
<% end %>