<% content_for(:cont) do%>

<p>
  <b>Название:</b>
  <%=h @tag_cloud.name %>
</p>

<p>
  <b>Ссылка:</b>
  <%=h @tag_cloud.link %>
</p>

<p>
  <b>Стиль:</b>
  <%=h @tag_cloud.styleTag %>
</p>

<p>
  <b>Сортировка:</b>
  <%=h @tag_cloud.por %>
</p>


<%= link_to 'Редактировать ', edit_tag_cloud_path(@tag_cloud) %> |
<%= link_to 'Вернуться', tag_clouds_path %>


<%end%>
<% content_for(:bs) do %>
  <%=bs %>
  <%end%>
  <% content_for(:sp) do %>
  <%=sp %>
  <%  end %>