<p>
  <b>Title:</b>
  <%=h @main1.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @main1.url %>
</p>

<p>
  <b>Content:</b>
  <%=h @main1.content %>
</p>


<%= link_to 'Edit', edit_main1_path(@main1) %> |
<%= link_to 'Back', main1s_path %>