<p>
  <b>Country:</b>
  <%=h @zakaz1.country %>
</p>

<p>
  <b>Region:</b>
  <%=h @zakaz1.region %>
</p>

<p>
  <b>Dep city:</b>
  <%=h @zakaz1.dep_city %>
</p>

<p>
  <b>Dep date:</b>
  <%=h @zakaz1.dep_date %>
</p>

<p>
  <b>Adl num:</b>
  <%=h @zakaz1.adl_num %>
</p>

<p>
  <b>Chil num:</b>
  <%=h @zakaz1.chil_num %>
</p>

<p>
  <b>Duration:</b>
  <%=h @zakaz1.duration %>
</p>

<p>
  <b>Food type:</b>
  <%=h @zakaz1.food_type %>
</p>

<p>
  <b>Hotel grade:</b>
  <%=h @zakaz1.hotel_grade %>
</p>

<p>
  <b>Cost from:</b>
  <%=h @zakaz1.cost_from %>
</p>

<p>
  <b>Cost to:</b>
  <%=h @zakaz1.cost_to %>
</p>

<p>
  <b>Name:</b>
  <%=h @zakaz1.name %>
</p>

<p>
  <b>Mail:</b>
  <%=h @zakaz1.mail %>
</p>

<p>
  <b>Phone:</b>
  <%=h @zakaz1.phone %>
</p>

<p>
  <b>Dop:</b>
  <%=h @zakaz1.dop %>
</p>


<%= link_to 'Edit', edit_zakaz1_path(@zakaz1) %> |
<%= link_to 'Back', zakaz1s_path %>